<h1>Edit User</h1>

<%= form_for [:admin, @user] do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
  <%= f.label :role %>
  <%= f.select :role, options_for_select(['user', 'moderator', 'admin'], @user.role) %>
  </div>
  
  <div>
    <%= f.submit 'Save Changes' %>
  </div>
<% end %>
